  services:
    influxdb:
      image: influxdb:2.7
      container_name: influxdb
      ports:
        - "8086:8086"
      environment:
        - DOCKER_INFLUXDB_INIT_MODE=setup
        - DOCKER_INFLUXDB_INIT_USERNAME=admin
        - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
        - DOCKER_INFLUXDB_INIT_ORG=myorg
        - DOCKER_INFLUXDB_INIT_BUCKET=metrics
        - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=token123  
      volumes:
        - influxdb_data:/var/lib/influxdb2  
      networks:
        - ticks

    telegraf:
      image: telegraf:1.36
      container_name: telegraf
      depends_on:
        - influxdb
      volumes:
        - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro  
      ports:
        - "8080:8080"
      networks:
        - ticks

    chronograf:
      image: chronograf:1.10.8
      container_name: chronograf
      ports:
        - "8888:8888"
      depends_on:
        - influxdb
        - kapacitor
      environment:
        - INFLUXDB_URL=http://influxdb:8086
        - KAPACITOR_URL=http://kapacitor:9092
      networks:
        - ticks

    kapacitor:
      image: kapacitor:1.8.0
      container_name: kapacitor
      environment:
        - KAPACITOR_INFLUXDB_0_URLS_0=http://influxdb:8086
      ports:
        - "9092:9092"
      depends_on:
        - influxdb
      volumes:
        - ./kapacitor:/etc/kapacitor
      networks:
        - ticks

    microservicio:
      build: ./microservicio
      container_name: microservicio2
      ports:
        - "4000:4000"
      networks:
        - ticks

  volumes:
    influxdb_data: 

  networks:
    ticks:
      driver: bridge